# Configuration Flask
FLASK_SECRET_KEY=713493ca5e0ca65d7b6d9baf86312e3f41b4a76bd309a7eece3185869dbf1288
FLASK_DEBUG=False
FLASK_ENV=production

# Configuration Grist (optionnel - peut être fourni via l'interface)
GRIST_SERVER=https://grist.numerique.gouv.fr
GRIST_API_KEY=
GRIST_DOC_ID=

# Dossiers
UPLOAD_FOLDER=uploads
TEMPLATES_FOLDER=templates_publipostage

# Filtre PDF
PDF_FILTER_COLUMN=Pdf_print
